<!DOCTYPE html>
<html>
    <style>
        body {
            background-color: #E4E0EE;
        }
        
        .header {
          padding: 15px;
          text-align: center;
          background: #4E2A84;
          color: white;
          font-size: 30px;
          margin-bottom: 10px;
        }
        
        </style>
<body>
    <div class="header">
        <h1>Submit X-Ray Image for Diagnosis</h1>
    </div>
    <form action = "/output" method = "post" enctype="multipart/form-data">  
        <input type="file" name="img1" />  
        <input type="file" name="img2" />  
        <input type = "submit" value="Upload">  
    </form>  

</body>
</html>